<!DOCTYPE html>
<html>
<head>
    <title>Trending Topics</title>
    <script>
      function createPost() {
        const content = document.getElementById("content").value;

        fetch("/post", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ post_content: content }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data.message);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
</head>
<body>
    <h1>Trending Topics</h1>
    <label for="trending-list" id="trending-list-label"></label>
    <ul id="trending-list"></ul>
    <script>
        const results = {{ results|safe }};

        if (results.length === 0) {
            const trendingList = document.getElementById("trending-list-label");
            trendingList.textContent = "No trending topics yet"
        } else {
            const trendingList = document.getElementById("trending-list");
            results.forEach(topic => {
                const listItem = document.createElement("li");
                listItem.textContent = `${topic.hashtag}, Counter: ${topic.counter}`;
                trendingList.appendChild(listItem);
            });
        }
    </script>
    <label for="content">Send post</label>
    <input type="text" id="content" placeholder="Enter content" />
    <button onclick="createPost()">Post</button>
</body>
</html>
